body{
    margin: 0;
}

.BOOM {
    width: auto;
    height: 200px;
    border: 2px solid;
    background-color: rgb(12, 183, 189);

}

ul{
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-top: 80px;
    list-style: none;
}

li{
    color: blueviolet;
    font-size: 20px;
    font-family: monospace;
    transition: 1.5s;

}

li:hover{
    cursor: pointer;
    color: aliceblue;
}

.moob{
    width: auto;
    height: 500px;
    background-color: aquamarine;
    
}